<ng-template appCellDef="status" let-element>
  <ng-container>
    <div class="status-bar-container">
      <ul class="status-bar">
        <!-- Define multiple status segments -->
        <li
          *ngIf="element.status === 'Active'"
          [attr.bg-color]="'green'"
        ></li>
        <li
          *ngIf="element.status === 'Inactive'"
          [attr.bg-color]="'red'"
        ></li>
        <li
          *ngIf="element.status === 'Prod'"
          [attr.bg-color]="'blue'"
        ></li>
      </ul>
      <span class="status-label">{{ element.status }}</span>
    </div>
  </ng-container>
</ng-template>
