<ng-template appCellDef="campaignDetails" let-element>
  <mat-form-field appearance="fill" class="campaign-dropdown">
    <mat-select [(value)]="element.selectedCampaign" placeholder="Associated Campaigns">
      <mat-option *ngFor="let campaign of element.campaignList" [value]="campaign">
        {{ campaign }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

---------------
<ng-template appCellDef="campaignDetails" let-element>
  <mat-form-field appearance="fill" class="campaign-dropdown">
    <mat-select [(value)]="element.selectedCampaign" placeholder="Select Campaign">
      <mat-option *ngFor="let campaign of element.campaignDetails" [value]="campaign.campaignId">
        {{ campaign.campaignName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
